<html>
     <head>
          <title>Login</title>


      </head>

      <body bgcolor="lightblue">
      <form action="detail" method="post">
      {% csrf_token %}
          Username:  <input type="text" name="username" value="{{username}}"><br>
          firstname: <input type="text" name="first_name" value="{{firstname}}"><br>
          last name: <input type="text" name="last_name" value="{{lastname}}"><br>
          Email    : <input type="email" name="email" value="{{email}}"><br>
          Hobbies   :<br>

          <input type="text" name ="hobbies" value="sports" value="{{hobbies}}"> <br>
          <input type="text" name ="hobbies" value="sports" value="{{hobbies}}"> <br>
          <input type="text" name ="hobbies" value="sports" value="{{hobbies}}"> <br>
          <input type="text" name ="hobbies" value="sports" value="{{hobbies}}"> <br>

          <input type="submit" value="save">

           </form>
      <div>


          {{d}}

      </div>


      </body>
</html>