<html>
     <head>
          <title>Registration</title>


      </head>

      <body bgcolor="lightblue">
      <form action="register" method="post">
      {% csrf_token %}
          Username:  <input type="text" name="username"><br>
          firstname: <input type="text" name="first_name"><br>
          last name: <input type="text" name="last_name"><br>
          Email    : <input type="email" name="email"><br>
          Password : <input type="password" name="password"><br>
          Hobbies   :<br>
          <input type="checkbox" name ="hobbies" value="sports"> sports<br>
          <input type="checkbox" name ="hobbies" value="movies"> movies<br>
          <input type="checkbox" name ="hobbies" value="videogames"> video games<br>
          <input type="checkbox" name ="hobbies" value="reading"> reading<br>
          <input type="submit">


      </form>
      <div>
          {%for message in messages%}
          <h3 style="color:red;">{{message}}</h3>
          {% endfor %}

      </div>
      </body>
</html>